
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@font-face {
  font-family: "helvetica_lt_geo_roman";
  src: url(/assets/fonts/HELVETICA_NEUE_LT_GEO_55_ROMAN.TTF);
}

@font-face {
  font-family: "helvetica_lt_geo_bold";
  src: url(/assets/fonts/HELVETICA_NEUE_LT_GEO_75_BOLD.TTF);
}

@font-face {
  font-family: "helvetica_lt_geo_medium";
  src: url(/assets/fonts/HELVETICA_NEUE_LT_GEO_65_MEDIUM.TTF);
}

@font-face {
  font-family: "mersad2";
  src: url(/assets/fonts/Mersad-26958361069.ttf);
}

/* Webfont: Mersad-Medium */@font-face {
    font-family: 'Mersad';
    src: url('/assets/fonts/Mersad/WebPS/MersadRegular.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/fonts/Mersad/WebPS/MersadRegular.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Mersad-Thin */@font-face {
    font-family: 'MersadThin';
    src: url('/assets/fonts/Mersad/WebPS/MersadThin.woff2') format('woff2'), /* Modern Browsers */
    url('/assets/fonts/Mersad/WebPS/MersadThin.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Mersad-Bold */@font-face {
    font-family: 'MersadBold';
    src: url('/assets/fonts/Mersad/WebPS/MersadBold.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/Mersad/WebPS/MersadBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Mersad-Black */@font-face {
    font-family: 'MersadBlack';
    src: url('/assets/fonts/Mersad/WebPS/MersadBlack.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/fonts/Mersad/WebPS/MersadBlack.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
    
}
    
html, body{
    font-family: "mersad";
  height: 100%;
  position: relative;
  
}
body{
  color: #0D1E33;
  overflow-x: hidden;
}




*::after,
*::before {
    position: absolute;
    content: "";
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

ol, ul {
	list-style: none;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}


a{
  text-decoration: none;
  
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #707070;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  background-color: black;
}


button{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.container{
    margin: auto;
    max-width: calc(1484px + 2rem);
    position: relative;
    
    
  }

  .main-padding{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  

  

  .swiper {
    width: 100%;
    height: 100%;
    
  }

  .swiper-slide {
    
    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
   
  }

  .header{
    
    position: relative;
   
  }

  .lang-switcher{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .lang-switcher li a{
    color: #0D1E33;
    opacity: 0.5;
    font-weight: bold;
    font-size: 0.875rem;
  }

  .lang-switcher li a.active{
    opacity: 1;
  }

  .switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 19px;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #AFD0EA;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #00A5EF;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.header .content{
  display: flex;
  
  align-items: center;
  gap: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header .nav{
  display: flex;
  gap: 2rem;
}

.language-container{
  margin-left: auto;
}

a{
  color: #0D1E33
}

.header .nav a.active{
  color: #00A5EF;
}

.gradient-background{
  background-color: #6FCAF3;
  position: relative;
}

.gradient-background .gradient{
  background: #6FCAF3;
background: -webkit-linear-gradient(11deg, rgba(111, 202, 243, 1) 0%, rgba(111, 202, 243, 1) 50%, rgba(252, 252, 244, 1) 100%);
background: -moz-linear-gradient(11deg, rgba(111, 202, 243, 1) 0%, rgba(111, 202, 243, 1) 50%, rgba(252, 252, 244, 1) 100%);
background: linear-gradient(11deg, rgba(111, 202, 243, 1) 0%, rgba(111, 202, 243, 1) 50%, rgba(252, 252, 244, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6FCAF3", endColorstr="#FCFCF4", GradientType=0);
height: 100%;
width: 100%;
position: absolute;
top: 0;

}


.btn{
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
  width: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 0 1rem;
  min-width: 240px;
  
}

.main-btn{
  background-color: #00A5EF;
  color: #F7F6DB;
  min-height: 67px;
}


.section{
  position: relative;
}

.section-title{
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.25rem;
}






.text{
  line-height: 1.5;
}


.relative{
  position: relative;
}





.img{
  position: relative;
  overflow: hidden;
}

.main-slider-section .background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  pointer-events: none;
}

.main-slider-section .background > div{
  flex: 0 0 50%;
  width: 50%;
  position: relative;
}

.main-slider-section .background > div img{
  width: 100%;
  height: auto;
  
}

.main-slider-section .background > div:first-child img{
  
  mix-blend-mode:screen
}

.main-slider-section .background.over{
  z-index: 2;
}
.main-slider-section .background.over > div:last-child img{
  position: absolute;
  width: 59%;
  padding-top: 26%;
  left: 28%;
}

.main-slide {
  display: flex;
}
.main-slide > div {
  flex: 0 0 50%;
  width: 50%;
}

.main-slide .title{
  font-family: 'MersadBlack';
  font-size: 3.75rem;
}

.main-slide .text{
  padding: 2rem 0;
}

.main-slide .img{
  
}

.small-title {
  font-size: 1.125rem;
  text-align: center;
}

.medium-title {
  font-size: 1.563rem;
  text-align: center;
  font-family: 'MersadBlack';
}

.big-title {
  font-size: 2.188rem;
  font-family: 'MersadBlack';
  text-align: center;
}

.home-products-section .big-title{
  margin: 1.5rem 0;
}

.product-list{
  display: grid;
}

.home-products-section .product-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -15px;
}
.home-products-section .product-list > div{
  flex: 0 0 25%;
  padding-right: 15px;
  padding-bottom: 15px;
}


.product-item {
    display: block;
  
    background-color: white;
    border-radius: 1.8rem;
    padding: 1.5rem;
    height: 100%;
    
    transition: all 0.2s;
    position: relative;
    max-width: 355px;
}

.product-item .img {
    padding-top: 88%;
}
.product-item .img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    transition: all 0.2s;
}

.product-item .title{
  font-weight: bold;
  text-align: center;
}

.product-item .arrow{
  position: absolute;
  bottom: 1.1rem;
  right: 1.2rem;
  opacity: 0;
  transition: all 0.2s;
}

.product-item:hover {
  background-color: #00A5EF;
}
.product-item:hover .arrow {
  opacity: 1;
}

.home-products-section .btn-container{
  justify-items: center;
margin-top: 3rem;
}

.home-about-section{
  padding-top: 17%;
}

.about-tab-section{
  background-color: #00A5EF;
  
  border-radius: 2rem 2rem 0 0;
  position: relative;
  padding-top: 4rem;
}

.about-tab-section .content{
  display: flex;
}

.about-tab-section .content > div{
  flex: 0 0 50%;
  width: 50%;
}

.about-tab-section .content > div:first-child{
  padding-right: 1rem;
}
.about-tab-section .content > div:last-child{
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.about-tab-section .content > div:first-child .img{
  
  border-radius: 1rem;
}


.about-tab-section .content > div:first-child .img img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}

.about-tab-section .images{
  position: relative;
  
}
.about-tab-section .images > div:first-child{
 
  width: 60%;
}
.about-tab-section .images > div:last-child{
  position: absolute;
  width: 60%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about-tab-section .images > div:first-child .img{
  padding-top: 125%;
}

.about-tab-section .images > div:last-child .img{
  padding-top: 75%;
}

.about-tab-section .title{
  font-size: 3.75rem;
  font-family: 'MersadBlack';
  text-align: right;
  line-height: 1.2;
}

.about-tab-section .text{
  
  text-align: right;
  padding: 1rem 0;
  
}

.home-about-section > .img{
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 0;
}

.home-about-section .img img{
  
  width: 100%;
 height: 100%;
 object-fit: contain;
}

.home-about-section .img-1{
  left: 12%;
  width: 15%;
  top: -3%;
}

.home-about-section .img-1 svg{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home-about-section .img-2{
  
}
.home-about-section .img-3{
  width: 25.8%;
  
  
  left: 37.2%;
  z-index: 2;
  padding-top: 11.8%;
}


.certificate-section{
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}

.certificate-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.certificate-item{
  padding: 3rem;
  background-color: #F4E9CE;
  border-radius: 1.5rem;
}

.certificate-item .img{
  padding-top: 85%;
}

.certificate-item .img img{
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 object-fit: contain;
}

.split-background{
  position: relative;
  background-color: #00A5EF;
  padding-top: calc(4rem + 10%);
  overflow: hidden;
  
}

.split-background .bg{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
 height: 100%;
  
  position: relative;
}
.split-background .bg-wrapper{
  position: absolute;
  width: 100%;
   height: calc(100% - 4rem);
}

.home-contact-section{
  padding-top: calc(15%);
  padding-bottom: 7rem;
  
}

.split-background .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(38, 38, 38, 0.8);
  mix-blend-mode: normal;
}

input, textarea {
    padding: 1.75rem;
    border: 1px solid;
    outline: none;
    background-color: transparent;
    border-radius: 0.3rem;
    width: 100%;
    display: block;
}

.contact-form{
  max-width: 444px;
}
.contact-form .title{
  padding-bottom: 2rem;
  text-align: center;
  font-family: 'MersadBlack';
  font-size: 1.563rem;
  color: #FCFCF4;
}
.form-group{
  margin-bottom: 1rem;
}

.form-group:last-child{
  margin-bottom: 0;
}

.contact-form textarea {

    height: 180px;
    
}
.contact-form .main-btn{
  width: 100%;
}

.home-contact-section .contact-form input{
  border-color: #FCFCF4;
}
.home-contact-section .contact-form textarea{
  border-color: #FCFCF4;
}

.home-contact-section .contact-form{
  margin: auto;
}

.gallery-section{
  background-color: #E2F3F4;
  padding-top: 1rem;
}

.home-news-section{
  background-color: #E2F3F4;
  padding-top: 1rem;
}



.news-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
}

.home-news-section .news-list{
  margin-top: 2rem;
}


.news-item{
  display: block;
  padding: 1rem 1rem 4rem 1rem;
  border-radius: 1.5rem;
  transition: all 0.2s;
  position: relative;
}
.news-item .img{
  padding-top: 70%;
  
}

.news-item .img img{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-item .date{
  margin-top: 1rem;
  opacity: 0.4;
}
.news-item .title{
  margin-top: 1rem;
  font-family: 'MersadBlack';
  font-size: 1.125rem;
}
.news-item .text{
margin-top: 1rem;
}
.news-item .arrow{
  color: #00A5EF;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  bottom: 1rem;
}

.news-item:hover{
  background-color: white;
}
.news-item:hover .arrow{
  opacity: 1;
}

.home-news-section .btn-container {
    justify-items: center;
    margin-top: 3rem;
}

.home-contact-info-section{
  padding-top: 4rem;

  background-color: #E2F3F4;

  padding-bottom: 10%;
  overflow: hidden;
}

.home-contact-info-section .big-title{
  margin: 1.5rem 0 2rem 0;
}

.home-contact-info-section .bg{
 position: absolute;
 bottom: 0;
}

.home-contact-info-section .bg img{
  opacity: 0.25;
  width: 100%;
  height: auto;
  
}

.contact-info-box{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  
backdrop-filter: blur(15px);
border: 1px solid rgba(255, 255, 255, 0.25);;
padding: 1rem;
}

.contact-info{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3rem;
  justify-items: center;
}


.contact-info li{
  max-width: 20rem;
}

.contact-info li .title{
  opacity: 0.3;
  margin-top: 1rem;
}

.contact-info li a{
  display: block;
  margin-top: 1rem;
  font-size: 1.375rem;
  line-height: 1.5;
}

.footer{
  background-color: #0D1E33;
  padding: 3rem 0;
}

.footer .nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer .nav a{
  color: white;
  font-size: 1.375rem;
}

.social-title{
  color: white;
  text-align: center;
  margin-top: 2rem;
}

.social-icons{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}